body {
    overflow: hidden;
}

.main {
    min-height: 100vh;
    min-width: 100vw;
    /* overflow: hidden; */
}

.img {
    --size: 60px;
    width: var(--size);
    height: var(--size);
    background-image: url("/images/morokoshi.png");
    background-size: var(--size);
    border-radius: 50%;
    position: absolute;
}